<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="" />
		<title>Mugnit</title>
		<link rel="stylesheet" href="style.css">
		<meta name="description" content="エンジニア共創コミュニティ。やりたいことができる環境を提供。">
		<meta name="keywords" content="Mugnit,swift,ruby,rails,ruby on rails,ROR,python,Python,anaconda,VBA,HTML,CSS,Java,JS,JavaScript,デザイン,ホームページ作成,Wordpress,プログラミング,横浜,勉強"
	</head>

	<body>

		<div class="outer-container">

			<div id="logo1"><img class="desktop" title="" alt="" src="assets/mugnit_logo2.png"width=150px ></div>
      <nav id="menu">
				<ul>
					<li><a href="index.html" target="_blank">HOME</a></li>
				</ul>
			</nav>


			<div class="inner">

				<div class="text-container">

					<div id="concept"><h1><span id="bef">やりたいこと</span>を<span id="aft">できること</span>に。</h1></div>

					<div id="explanation">
							<div><img id="logo2" src="assets/mugnit_logo1.png"width=400px></div>
							<h2><p>「高学歴」「大手一流企業」「高い地位」</p></h2>
							<h3><p>これらの看板が「社会のモノサシ」としての役目を無くすなか、</p></h3>
							<h2><p>「インターネットの普及」「設備の低廉化」「価値観の多様化」</p></h2>
							<h3><p>これらの変化で「簡単」に「自由」なライフスタイルが得られるようになった。</p></h3>
							<h3><p>　</p></h3>
							<h3><p>自由になるというのは「やりたいこと」に没頭できると同時に、</p></h3>
							<h3><p>個人それぞれが「できること」を持って生きていく必要がある。</p></h3>
							<h3><p>　</p></h3>
							<h3><p>　</p></h3>
							<h3><p>　</p></h3>
							<h3><p>　</p></h3>
					</div>
						<h2><p>我々Mugnitはそのような社会で「やりたいこと」がある人に対し、</p></h2>
						<h2><p></p></h2>
						<h1><p>「能力」・「チーム」・「環境」</p></h1>
						<h2><p>これらの価値を提供していきたい。</p></h2>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
						<h3><p>　</p></h3>
				</div>

			</div>

		</div>

		<footer class="site-footer">
				<div id="logo3"><img title="" alt="" src="assets/mugnit_logo2.png"width=150px ></div>
		</footer>

	</body>
</html>
